TP/TP3/Exemple_workspaceEclipse_DOM_SAX/TP_DOM/TestDOM.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<!ELEMENT author (#PCDATA)>
<!ELEMENT book (title, author, (section+))>
<!ELEMENT books (book+)>
<!ELEMENT figure (title, image)>
<!ATTLIST figure
	width CDATA #REQUIRED
	height CDATA #REQUIRED
>
<!ELEMENT image EMPTY>
<!ATTLIST image
	source CDATA #REQUIRED
>
<!ELEMENT p (#PCDATA)>
<!ELEMENT section (title, p?, figure?)>
<!ATTLIST section
	difficulty CDATA #IMPLIED
	id CDATA #IMPLIED
>
<!ELEMENT title (#PCDATA)>
